/* ----------- basic properties ---------------- */
:root {
  /* fon color */
  --primary-background-colour: #ffffff;
  --secondary-background-colour: #2e2f42;
  --section-background-colour: #f4f4fd;

  /* text color */
  --secondery-text-colour: #2e2f42;
  --white-text-colour: #ffffff;
  --footer-text-colour: #f4f4fd;

  /* button color */
  --button-colour: #4d5ae5;
  --accent-colour: #404bbf;

  --border-color: #e7e9fc;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-background-colour);
  color: #434455;
}

*,

  /* outline: 2px solid coral; */


/* ----------- components --------- */
h1,
h2,
h3,
p {
  margin: 0;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  display: block;
}
.section {
  padding: 120px 0;
}

.button {
  cursor: pointer;
  border-radius: 4px;
}

.work-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;

  color: var(--secondery-text-colour);

  margin-bottom: 72px;
}

.worker-name,
.name-working {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--secondery-text-colour);
}

.work-item:not(:last-child),
.adv-list-item:not(:last-child),
.worker:not(:last-child),
.filter-item:not(:last-child) {
  margin-right: 24px;
}

.post,
.category-working {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container {
  margin: 0 auto;
  max-width: 1158px;
  padding: 0 15px;
}

.wrapper {
  width: 1440px;
}

.transform {
  display: flex;
  flex-wrap: wrap;

  align-items: center;
}

/* ----------- header ------------ */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondery-text-colour);

  color: var(--button-colour);
}

.link {
  text-decoration: none;
}

.logo-header {
  color: var(--secondery-text-colour);
}

.menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  letter-spacing: 0.02em;
  color: var(--secondery-text-colour);
}

.menu-item:hover,
.menu-item:focus {
  color: var(--accent-colour);
}
/* adress */
.adress {
  margin-left: auto;
}
.adress-link:nth-child(1) {
  margin-right: 40px;
}

.adress {
  font-style: normal;
}
.adress-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: inherit;
}

.adress-item:hover,
.adress-item:focus {
  color: var(--accent-colour);
}

/* frame */
.header-box {
  padding: 24px 0;
  border-bottom: solid 1px var(--border-color);
}
/* ---------- hero -------------- */

.hero {
  background-color: var(--secondary-background-colour);

  padding: 188px 0;
}
.hero-box {
  text-align: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;

  color: var(--white-text-colour);

  max-width: 496px;
  margin: 0 auto;
}

.hero-button:hover,
.hero-button:focus {
  background-color: var(--accent-colour);
}
.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--white-text-colour);
  background-color: var(--button-colour);

  display: block;
  margin: 0 auto;
  margin-top: 48px;
  padding: 16px 32px;

  min-width: 169px;
  height: 56px;

  border: none;
}
/* ---------- advantages-------- */
.adv-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;

  color: var(--secondery-text-colour);

  margin-bottom: 8px;
}
.adv-description {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.adv > .list {
  display: flex;
}

.adv-list-item {
  flex-basis: calc((100% - 3 * 24px));
}

/* ----------- work -------------- */
.work-section {
  padding: 0 0 120px 0;
}
/* ---------- our team ----------- */
.team {
  background-color: var(--section-background-colour);
}
.list-worker {
  display: flex;
}

.worker-box {
  text-align: center;
  padding: 32px 16px;
}
.worker {
  background-color: var(--primary-background-colour);

  border-radius: 0 0 4px 4px;
}

.worker-name {
  margin-bottom: 8px;
}

/* --------- footer --------- */
.footer {
  background-color: var(--secondary-background-colour);
  padding: 100px 0;
  padding-left: 15px;
}

.logo-footer {
  color: var(--footer-text-colour);
}
.footer-box > .logo {
  display: inline-block;
  margin-bottom: 16px;
}
.footer-desc {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--footer-text-colour);
  max-width: 264px;
}
.header-box .logo {
  margin-right: 76px;
}
.menu-link:not(:last-child) {
  margin-right: 40px;
}

/* =========== PORTFOLIO ============= */
.section-app {
  padding-bottom: 120px;
  padding-top: 96px;
}

/* ---------- filter -------------- */
.filter-button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--button-colour);
  background-color: var(--section-background-colour);

  border: solid var(--border-color);
}
.filter-button:hover,
.filter-button:focus {
  color: var(--white-text-colour);
  background-color: var(--accent-colour);
}
.filter-button {
  padding: 12px 24px;
}
.filter-box {
  display: flex;
  justify-content: center;
  margin-bottom: 72px;
}
.filter-box > .list {
  display: flex;
}

/* ----------- application ------------ */

.category-working {
  color: #434455;
}

.card-box {
  flex-basis: calc(100% / 3);
}
.app-cards:not(:nth-child(3n)) {
  margin-right: 24px;
}
.app-cards:not(:nth-last-child(-n + 3)) {
  margin-bottom: 48px;
}
.app-cards {
  width: 360px;
}
.card-content {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 16px;
  padding: 0 -1px;
}
.name-working {
  margin-bottom: 8px;
}
